#wrap .hc-fb-msg-btn {
	background-color: #18BC9C;
	color: #FFFFFF;
	font-weight: bold;
	margin: 40px 0px 0px 60px;
	width: 200px;
}

#wrap button.has-notification {
	padding-left: 60px;
}

#hc-facebook-messages span {
	background-color: #E60000;
	position: relative;
	top: -30px;
	left: 40px;
	height: 25px;
	width: 25px;
	font-size: 20px;		
}

.jumbotron .container {
	background: url("/img/logo-hcc.png") no-repeat 95% 12%;
}

.jumbotron h1 {
	margin-bottom: 30px;
}


#wrap a.navbar-brand {
	padding: 18.5px 10px 20.5px;
}

.fb-profile-connect {
	padding-left: 20px;
}

.whoareu {
    background: url(whoareu.jpg) ; 
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
}

.tableborder {
	padding-top:10px;
}

.divborder {
	font-size:12px;
}

.rowborder {
	font-size:14px;
	font-weight:bold;
	color: #18bc9c;
}

#content .container, #subcontent .container {
    max-width: 100%;
    padding-top: 20px;
}

.imagepadding {
	padding-top: 40px;
	position: relative;
	display: inline-block;
}

.account-form {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
    padding-top: 50px;
}
