#wrap a.navbar-brand {
	padding: 18.5px 10px 20.5px;
}

.fb-profile-connect {
	padding-left: 20px;
}

.whoareu {
    background: url(whoareu.jpg) ; 
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
}

.tableborder {
	padding-top:10px;
}

.divborder {
	font-size:12px;
}

.rowborder {
	font-size:14px;
	font-weight:bold;
	color: #18bc9c;
}

#content .container, #subcontent .container {
    max-width: 100%;
    padding-top: 20px;
}

.imagepadding {
	padding-top: 40px;
	position: relative;
	display: inline-block;
}

.account-form {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
    padding-top: 50px;
}
